<p>
  Hub USP Inovação: foi solicitada uma atualização de seus dados plataforma 
</p>

<p>
  Para garantir a segurança desta solicitação, informe o token quando solicitado no site:
</p>

<p><%= @token %></p>

<p>
  Ou acesse diretamente no link
</p>

<p>
  <a href="<%= @base_url%>/competencia/atualizar?token=<%= @token %>"><%= @base_url %>/empresas/atualizar?token=<%= @token %></a>
</p>
